<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/note/layout :: head">
    <meta charset="UTF-8">
    <title>Delete Note</title>
</head>
<body>
<h1>Delete Note</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/notes">Note list</a>
</p>
<div id="form">
<form th:action="@{/delete-note}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td>Note type: </td>
            <td th:text="${note.noteType.name}"></td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Note"></td>
        </tr>
    </table>
</form>
</div>
<footer th:replace="/note/layout :: footer"></footer>
</body>
</html>