<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<h3> View Note</h3>
<p>
    <a href="/notes">List Note</a>
</p>
<div id="form">
    <form th:object="${notes}"
          method="POST">
        <input type="hidden" th:field="*{id}">
        <table>

            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>